

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
@media (max-width: 670px) {
    .content {
        align-items: center;
    }
}
@media (max-width: 365px) {
    .content {
        
        padding: 30px 0px;
    }
}