

.sectSlide {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleContent {
    width: 100%;
}
@media (max-width: 1270px) {
    .sectTitle {
        margin-left: 10%;
    }
}
@media (max-width: 670px) {
    .titleContent {
        display: flex;
        justify-content: center;
    }
    .sectTitle {
        margin: 0;
    }
}