@import '@/styles/variables.module.scss';

.sectSlide {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.titleContent {
    width: 100%;
}
.sectTitle {
    text-transform: uppercase;
    margin-left: 100px;
}

@media (max-width: 670px) {
    .titleContent {
        display: flex;
        justify-content: center;
    }
    .sectTitle {
        margin: 0;
    }
}